<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Preview</title>
  </head>
  <body>
    <script>
      window.addEventListener('message', ({ data }) => {
        if (data.type === 'UPDATE_CODE') {
          const importmapTag = document.querySelector(
            'script[type="importmap"]',
          );
          importmapTag.innerHTML = data.data.importmap

          const appSrcTag = document.querySelector('#appSrc');
          const oldSrc = appSrcTag.getAttribute('src');
          appSrcTag.remove();
          
          const script = document.createElement('script');
          const newSrc = URL.createObjectURL(
            new Blob([data.data.compileCode], {
              type: 'application/javascript',
            }),
          );
          script.src = newSrc;
          script.id = 'appSrc';
          script.type = 'module';
          document.body.appendChild(script);
          URL.revokeObjectURL(oldSrc);
        }
      });
    </script>
    <script type="importmap"></script>
    <script type="module" id="appSrc"></script>
    <div id="root">Loading...</div>
  </body>
</html>
