.box {
  width: 100%;
  height: 100%;
  color: var(--base);
  background-color: var(--bg);
}

.header {
  width: 100%;
  height: 38px;
  padding: 0 10px;
  font-size: 13px;
  line-height: 38px;
  color: var(--base);
  background-color: var(--bg);
  border-bottom: 1px solid var(--border);
  box-sizing: border-box;
}
